@using DemoMVC.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Category</h2>

<a asp-controller="Category" asp-action="Create" class="btn btn-secondary" style="width:150px">Create new Category</a>

<br />
<table class="table table-striped w-100">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary" style="width:150px">Update</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-secondary" style="width:150px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


